<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishloggerpro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fishloggerpro.act.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.fishloggerpro.act.AddFishActivity"
            android:label="@string/title_activity_add_fish" >
        </activity>

        <service
            android:name="com.fishloggerpro.srv.DBService"
            android:label="@string/logger_service"
            android:process=":logger_service" >
        </service>

        <activity
            android:name="com.fishloggerpro.act.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
 >
        </activity>
        <activity
            android:name="com.fishloggerpro.act.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.fishloggerpro.act.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
    </application>

</manifest>